<LinkTo class="link1" @route="test1">Test 1</LinkTo>
<LinkTo class="link2" @route="test2">Test 2</LinkTo>
<LinkTo @route="escape">Escape</LinkTo>
<LinkTo @route="nested.page">Nested page</LinkTo>
<br /><br />

<div id="the-message">{{this.message}}</div>

{{outlet}}