<h1 class="header-title">Nested header</h1>

<LinkTo @route="nested.index">Index page</LinkTo>
<LinkTo @route="nested.regular">Regular page</LinkTo>
<LinkTo @route="nested.page">Nested page</LinkTo>

<br />
<br />

{{outlet}}